body {
	background-color: @primary;
	color: @text;
	font-size: 1em;
}

h1, h2, h3, h4 {
	font-family: @header;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2em;
}

h1 small, h2 small, h3 small, h4 small {
	font-family: @header-light;
	font-size: 0.6em;
}

.logo (@height) {
    background: url("../../dist/img/logo.min.svg") no-repeat;
    background-size: (393.67 * (@height / 84.18)) @height;
    height: @height;
    width: 393.67 * (@height / 84.18);
	display: block;
	text-indent: -9999px;
}

.logo-inverse (@height) {
    background: url("../../dist/img/logo-inverse.min.svg") no-repeat;
    background-size: (393.67 * (@height / 84.18)) @height;
    height: @height;
    width: 393.67 * (@height / 84.18);
	display: block;
	text-indent: -9999px;
}

.hero {
	font-family: @header-light;
	font-size: 5em;
	padding: 10px 20px;
	
	strong {
		font-family: @header;
	}
}

.container {
	padding-left: 50px;
	padding-right: 50px;
}

.block {
	.container;
	padding-top: 50px;
	padding-bottom: 50px;
	clear: both;

	.block-title {
		margin-top: 0px;
	}

	&.secondary {
		background-color: @secondary;
	}

	.clearfix {
		clear: both;
	}
}

ul.horizontal-list {
	list-style: none;
	margin: 0;
	padding: 0;

		li {
			display: inline-block;
			padding: 0 10px;

			&:first-child {
				padding-left: 0px !important
			}
		}
}

.primary .square, .secondary .square {
	background: white;
}

.primary .square {
	color: @primary;
}

.secondary .square {
	color: @secondary;
}

.square {
	.rounded-corners();
	display: inline-block;
	height: 150px;
	width: 150px;
	line-height: 150px;
	text-align: center;
	text-decoration: none;
	font-size: 2em;
}

.secondary .square:hover {
	background: @primary;
}

