body {
	background-color: @primary;
	color: @text;
	font-size: 100%;
	min-width: 320px;
}

h1, h2, h3, h4 {
	font-family: @header;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2em;
}

h2 + p {
	margin-top: -1.5em;
}

h1 small, h2 small, h3 small, h4 small {
	font-family: @body;
	font-size: 0.5em;
}

h1 + .subtitle {
	margin-top: -1em;
	font-size: 2em;
	font-weight: bold;
}

.logo (@height) {
    background: url("../img/logo.min.svg") no-repeat;
    background-size: (1270 * (@height / 195)) @height;
    height: @height;
    width: 1270 * (@height / 195);
	display: block;
	text-indent: -9999px;
}

.logo-inverse (@height) {
    background: url("../img/logo-inverse.min.svg") no-repeat;
    background-size: (1270 * (@height / 195)) @height;
    height: @height;
    width: 1270 * (@height / 195);
	display: block;
	text-indent: -9999px;
}

.container {
	padding-left: 50px;
	padding-right: 50px;
}

.block {
	.container;
	padding-top: 50px;
	padding-bottom: 50px;
	clear: both;

	.block-title {
		margin-top: 0px;
	}

	&.secondary {
		background-color: @secondary;
	}

	&.tertiary {
		background-color: @tertiary;
	}

	.clearfix {
		clear: both;
	}
}

ul.horizontal-list {
	list-style: none;
	margin: 0;
	padding: 0;

		li {
			display: inline-block;
			padding: 0 10px;
			line-height: 1.5em;

			&:first-child {
				padding-left: 0px;
			}
		}
		
}

.primary .square, .secondary .square, .tertiary .square {
	background: white;
}

.primary .square {
	color: @primary;
}

.secondary .square {
	color: @secondary;
}

.square(@size) {
	.rounded-corners();
	display: inline-block;
	height: @size;
	width: @size;
	line-height: @size;
	text-align: center;
	text-decoration: none;
	font-size: 2em;
}

.square { .square(150px) };

.secondary .square:hover {
	background: @primary;
}

