.content {
	.hero {
		.container;
			font-family: @header;
			
			strong {
				color: @secondary;
			}
			
			.hero-line {
				margin: 0;
				display: inline-block;
				background: rgba(255,255,255,0.9);
				color: @primary;
				line-height: 1.5em;
				padding: 0 0.25em;
			}
	}
}

.block .coll {
	width: 425px;
	margin: 0 20px;
	float: left;
}

.row {
	width: 1365px;
	margin: auto;
}

.row .coll:first-child {
	margin-left: 0px;
}

.row .coll:last-child {
	margin-right: 0px;
}

.social-button(@bg) {
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -99999px;
	background-image: url("../img/@{bg}.min.svg");

	&:hover {
		background-image: url("../img/@{bg}-inverse.min.svg");
	}
}

#skype-button { .social-button("skype"); }
#linkedin-button { .social-button("linkedin"); }
#twitter-button { .social-button("twitter"); }
#github-button { .social-button("github"); }