.content {
	margin-top: 50px;

	.hero {
		.container;
		margin-top: 200px;
		margin-bottom: 200px;
	}
}

.block .coll {
	width: 425px;
	margin: 0 20px;
	float: left;
}

.row {
	width: 1365px;
	margin: auto;
}

.row .coll:first-child {
	margin-left: 0px;
}

.row .coll:last-child {
	margin-right: 0px;
}