.content {
	.hero {
		.container;
			font-family: @header;
			font-size: 5em;

			background: url("../../src/img/bg_hero.jpg") top left; 
			height: 1000px;
			padding-top: 100px;
			
			strong {
				color: @secondary;
			}
	}
}

.block .coll {
	width: 425px;
	margin: 0 20px;
	float: left;
}

.row {
	width: 1365px;
	margin: auto;
}

.row .coll:first-child {
	margin-left: 0px;
}

.row .coll:last-child {
	margin-right: 0px;
}

.social-button(@bg) {
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -99999px;
	background-image: url("../img/@{bg}.min.svg");

	&:hover {
		background-image: url("../img/@{bg}-inverse.min.svg");
	}
}

#skype-button { .social-button("skype"); }
#linkedin-button { .social-button("linkedin"); }
#twitter-button { .social-button("twitter"); }
#github-button { .social-button("github"); }